body {
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.weathrly {
  color: white;
  font-family: 'Shrikhand', cursive;
  font-size: 2em;
  text-shadow: 0px 0 #B4B7C0 ,0 0px #B4B7C0 ,0 1.5px #B4B7C0 ,0 1.5px #B4B7C0;
}

.hidden {
  display: none;
}

button:hover {
  cursor: pointer;
}

#page-wrapper {
  display: flex;
  flex-direction: column;
}

#video-background {
  position: absolute;
  z-index: -1;
}

/*---nav---*/

nav {
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*---current---*/

.conditions {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10%;
  color: white;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  left: 2.5%;
  position: absolute;
  top: 70px;
  width: 30%;
}

.condition-temp-f {
  font-size: 4em;
  padding: 5%;
}

.condition-location {
  font-size: 2em;
  padding: 5%;
}

.condition-status {
  font-size: 1.5em;
  margin-top: 1%;
  padding: 5%;
}

.condition-img {
  min-width: 50px;
  padding: 5%;
  width: 15%;
}

/*---currentForecast---*/

.current-forecast {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10%;
  color: white;
  display: flex;
  flex-direction: column;
  height: 50%;
  left: 40%;
  position: absolute;
  top: 70px;
  width: 30%;
}

.current-forecast-date {
  font-size: 2em;
  margin-top: 15%;
}

.current-forecast-high {
  margin-right: 40%;
}

.current-forecast-temps {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  padding: 5%;
}

.current-forecast-forecast {
  font-size: 1.2em;
  line-height: 22pt;
  margin-left: 5%;
  padding: 5%;
}

/*---hourly---*/

#hourly {
  display: inline-block;
  height: 340px;
  overflow-x: scroll;
  position: absolute;
  right: 2.5%;
  top: 70px;
  text-align: center;
}

.hour-card {
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 140px;
}

/*---ten day---*/

#ten-day {
  display: flex;
  flex-direction: row;
  left: 2.5%;
  overflow-x: scroll;
  position: absolute;
  top: 70%;
  white-space: nowrap;
  width: 95%;
}

.ten-day-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.day-card {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10%;
  color: white;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
}

.day-card-temps {
  display: flex;
  justify-content: space-around;
}

.day-card-high,
.current-forecast-high {
  color: red;
}

.day-card-low,
.current-forecast-low {
  color: dodgerblue;
}


@media screen and (max-width: 775px) {

  #hourly {
    display: flex;
    flex-direction: row;
    left: 2.5%;
    overflow-x: scroll;
    position: absolute;
    top: 60%;
    white-space: nowrap;
    width: 95%;
  }

  .hour-card {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10%;
    color: white;
    margin-left: 10px;
    padding: 5px;
    text-align: center;
  }

  .current-forecast {
    left: auto;
    right: 2.5%;
    width: 55%;
  }

  .conditions{
    width: 37%
  }

  #ten-day {
    top: 80%;
  }
}

@media screen and (max-width: 775px) {

  .current-forecast,
  .conditions {
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }

  .current-forecast{
    top: 200px;
  }

  .current-forecast-forecast {
    font-size: 1em;
    line-height: 16pt;
  }

  .current-forecast-date {
    font-size: 1.2em;
  }

  .current-forecast-forecast,
  .current-forecast-temps,
  .current-forecast-high,
  .current-forecast-low,
  .current-forecast-date {
    padding: 0;
    margin: 0;
  }

  .save,
  .lang {
    padding: 2%;
    margin: 2%;
    margin-left: 4%;
  }

  .input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 20%;
  }

  .weathrly {
    display: none;
  }


}
