.hidden {
  display: none;
}

#page-wrapper {
  display: flex;
  flex-direction: column;
}

#video-background {
  position: absolute;
  z-index: -1;
}

.backdrop {
  background: rgba(0, 0, 0, 0.32)
}

/*---nav---*/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

/*---current---*/

.conditions {
  background-color: rgba(0, 0, 0, 0.35);
  margin-top: 5%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.condition-temp-f {
  font-size: 4em;
}

.condition-location {
  font-size: 2em;
}

.condition-status {
  font-size: 1.5em;
  margin-top: 1%;
}

.condition-img {
  width: 10%;
}

/*---hourly---*/

#hourly {
  position: absolute;
  top: 70px;
  right: 10px;
  display: inline-block;
  width: 20%;
  height: 300px;
  overflow-x: scroll;
  overflow-y: auto;
  text-align: center;
}

.hour-card {
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  margin-top: 5%;
}

/*---ten day---*/

#ten-day {
  display: flex;
  flex-direction: row;
}

.ten-day-container {
  display: flex;
  flex-direction: row;
}

.day-card {
  display: flex;
  flex-direction: column;
}
